
<head>
    <style>
        img.imagem {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .ideia {
            float: left;
            width: 400px;
            text-align: center;
            padding-top: 50px;
            font-family: 'Playfair Display', serif;
            font-size: 1.125em;
        }

    </style>
</head>
{% extends "layout.html" %}
{% block conteudo %}
<div class="title_page">
    <h1>Sobre</h1>
</div>

<div class="container">
    <p class="ideia">
    Nossa ideia inicial é criar uma rede social
    onde pessoas e lojas possam se comunicar a
    respeito da lotação no estabelecimento,
    a fim de evitar aglomerações.
    A proposta é voltada para atender uma
    demanda trazida com a pandemia do novo
    Coronavírus, que é uma
    realidade vivida hoje por todos.
    </p>
</div>
<div class="imagem">
    <img src="../static/img/corona-man.jpg" class="imagem" width="500" heigth="180" alt="Homem de máscara" />
</div>
{% endblock %}