
<head>
    <style>
        img.imagem {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .ideia {
            float: left;
            width: 400px;
            text-align: justify;
            padding-top: 50px;
            font-family: 'Playfair Display', serif;
            font-size: 1.125em;
            text-indent: 2em;
        }

    </style>
</head>
{% extends "layout.html" %}
{% block conteudo %}
<div class="title_page">
    <div class="container">
        <h1>Sobre</h1>
    </div>
</div>

<div class="container">
    <p class="ideia">
    Nossa ideia inicial é criar uma rede social
    onde pessoas e lojas possam se comunicar a
    respeito da lotação no estabelecimento,
    a fim de evitar aglomerações.
    A proposta é voltada para atender uma
    demanda trazida com a pandemia do novo
    Coronavírus, que é uma
    realidade vivida hoje por todos.<br>
    Este projeto foi desenvolvido para
    um projeto integrador do 3º semestre do curso Técnico em
    Informática do Instituto Federal de Educação, Ciência e Tecnologia do Ceará -
    Campus Aracati.
    </p>
</div><br>
<div class="imagem">
    <img src="../static/img/Arte do site (2).jpg" class="imagem " width="500" heigth="180" alt="Homem de máscara" />
</div>
{% endblock %}