<head>
    <style>
    .title_page {
        background-color: lightblue;
        color: white;
        padding: 5px;
        max-width: 60%;
        margin-bottom: 15px;
        padding-left: 100px;
    }
    </style>
</head>

{% extends "layout.html" %}
{% block conteudo %}
<div class="title_page">
    <h1>Contato</h1>
</div>

<div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jucyara Lucia de Sousa Fernandes</td>
      <td>jucyara.lucia.sousa11@aluno.ifce.edu.br</td>
    </tr>
    <tr>
      <td>Kaylla Anna Amarante Rodrigues</td>
      <td>kaylla.anna.amarante08@aluno.ifce.edu.br</td>
    </tr>
    <tr>
      <td>Lara Beatriz Soares Gomes</td>
      <td>lara.beatriz.soares03@aluno.ifce.edu.br</td>
    </tr>
    <tr>
      <td>Lara Esther de Freitas</td>
      <td>lara.esther.freitas13@aluno.ifce.edu.br</td>
    </tr>
    <tr>
      <td>Lucas Alexandre Virginio</td>
      <td>lucas.alexandre.virginio07@aluno.ifce.edu.br</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}