{% extends "layout.html" %}
{% block titulo %}Infolot - feed{% endblock %}
{% block style %}
        img.banner {
            width: 100%;
            height: 75%;
            background-size: cover;
        }
        h1 {
            display: inline;
            margin-left: 50px;
        }
        .contador-pessoas{
            margin-top: 10px;
            margin-left: 25%;
            width: 600px;
            //border: 1px solid black;
            padding: 10px;
            text-align:center;
        }
        .progresso{
            margin-left: 25%;
            width: 600px;
        }
        .progresso-title{
            margin-left: 25%;
        }
        .area-texto {
            width: 45%;
            margin-left: 25%;
        }
        .botoes {
            margin-left: 43%;
        }
        .botao {
            background-color: #386C6D;
            color: #ffff;
        }
{% endblock %}
{% block conteudo %}

    <div>
        <img src="../static/img/store-984393_1920.jpg" class="banner" alt="" /><br>
    </div>
    <div>
        <h1 class="p-2 bd-highlight">Maria's Store</h1>
        <button class="botao btn">Seguir</button>
    </div><hr>
    {% if dados %}
        <div class="alert alert-success container">
            Olá, {{dados.email}}
        </div>
    {% endif %}
    <div class="progresso-title">
        <h3>Quantas pessoas há?</h3>
    </div>
    <div class="progress progresso text-center">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:{{lotacao}}%" id="lotacao" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10"></div>
</div>
<div class="text-center">
    <button class="btn btn-success" onclick="aumenta()">Entrei</button>
    <button class="btn btn-danger" onclick="diminui()">Saí</button>
</div>
    <div class="contador-pessoas text-center">
        Limite de pessoas na loja: 20.
        <p id="situacao">Dentro da loja: {{barra_tamanho}}.</p>
        Situação: Quase no limite, faltam 5 pessoas.
        {% if ocupacao %}
            <div>
                Conta: {{ocupacao.conta}}
            </div>
        {% endif %}
        <br><br><p>Clique para enviar suas coordenadas.</p>

        <form action="/checking" method="POST">
            <input type="hidden" name="loja" id="loja1" value="Maria">
            <input type="hidden" value="" name="lat" id="lat">
            <input type="hidden" value="" name="lon" id="lon">
            <input type="submit" value="Diga que você está aqui" class="btn btn-primary">
        </form>
        <p id="demo"></p>

        <script>
        //Recebendo geolocalização do navegador
        var x = document.getElementById("demo");

        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(preencher);
          } else {
            x.innerHTML = "Geolocalização não suportada pelo seu navegador.";
          }
        }

        function preencher(position) {
          let lat = document.getElementById('lat');
          let lon = document.getElementById('lon');

          lat.value = position.coords.latitude;
          lon.value = position.coords.longitude;
          console.log('Lat: ${lat.value}, Lon: ${lon.value}')
        }

        window.onload = function() {
            getLocation();
        }

        //Funcionalidade de aumentar e diminuir dos botões

        let barra_tamanho = 0;
	    function aumenta(){
    	    barra_tamanho += 10;
            atualizaBarra();
            atualizaSituacao();
        }
        function diminui(){
    	    barra_tamanho-=10;
            atualizaBarra();
            atualizaSituacao();
        }
        function atualizaBarra(){
    	    let barra = document.getElementById('lotacao');
            barra.style.width = barra_tamanho+'%';
        }
        function atualizaSituacao() {
            let barra = document.getElementById('situacao');
            barra.p = barra_tamanho;
        }
        </script>

    <div class="area-texto">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Digite uma mensagem"></textarea>
    </div>

{% endblock %}