<head>
    <style>
        a.login-click {
            font-weight: bold;
        }
    </style>
</head>

{% extends "layout.html" %}
{% block conteudo %}
<div class="title_page">
    <h1>Página Inicial</h1>
</div>

<div class="container-sm">
        {% if logado == True %}
           <br> <div class="alert alert-success" role="alert">
                Seja bem vindo!
            </div>
        {% else %}
        <br><div class="alert alert-danger" role="alert">
             Você não está logado! Faça o <a class="login-click text-reset" href="{{url_for('loginpage')}}">login</a>
        </div>
        {% endif %}
    </div>
{% endblock %}