<head>
    <style>
        .login-form {
            margin: 0 auto;
            width: 400px;
            margin-top: 80px;
        }
        .form-title {
            text-align: center;
        }
    </style>
</head>

{% extends "layout.html" %}
{% block conteudo %}
<div class="login-form shadow p-3 mb-5 bg-white rounded">
    <h2 class="form-title">Fazer login</h2><br>
    <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" placeholder="xxxxxx@gmail.com" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Mantenha-me conectado</label>
  </div>
  <div>
      <a class="text-reset" href="{{url_for('registerpage')}}">Ainda não possui uma conta? Cadastre-se agora.</a>
  </div>
  <div>
      <a class="text-reset" href="{{url_for('redefinirpage')}}">Esqueceu a senha?</a>
  </div><br>
  <button type="submit" class="btn btn-secondary"><a class="text-reset" href="{{url_for('feedpage')}}">Entrar</a></button>
  </form>
</div>
{% endblock %}